{% import "macros/recipe.html" as recipe %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Owen's Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/main.css', cachebust=true) }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/dropdown.css', cachebust=true) }}">
    <script type="text/javascript" src="{{ get_url(path='JS/IngredientMult.js', cachebust=true) }}"></script>
</head>

<body>
    <div id="container">
        <nav id="dropdown-nav" class="no-print">
            <a class="button" href="/">&#127968; Home</a>
            {% include 'navbar.html' %}
        </nav>
        {{ recipe::recipe(page=page) }}
    </div>
</body>

<script>
    initializeQuantities();
</script>

</html>