{% import "macros/parts.html" as parts %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - Owen's Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/main.css', cachebust=true) }}">
    <link rel="stylesheet" type="text/css" href="{{ get_url(path='CSS/dropdown.css', cachebust=true) }}">
    <script type="text/javascript" src="{{ get_url(path='JS/IngredientMult.js', cachebust=true) }}"></script>
</head>

<body>
    <div id="container">
        <nav id="dropdown-nav">
            <a class="button" href="/">&#127968; Home</a>
            {% include 'navbar.html' %}
        </nav>
        <div id="title-section">
            <p id="path">{{ parts::bbreadcrumb() }}</p>
            <h1 id="title">{{ page.title }}</h1>
            <table style="width: 100%;" id="infotable">
                <tbody>
                    <tr>
                        <td>Serves: <input type="number" placeholder="{{ page.extra.serves | safe }}"
                                value="{{ page.extra.serves | safe }}" min="1" name="servingsNumb" id="servingsNumb"
                                class="no-print" style="width: 50px;" onchange="refreshQuantities()">
                            <p id="print-quantities" class="only-print">Serves: {{ page.extra.serves | safe }}</p>
                        </td>
                        <td>Prep Time: {{ page.extra.prep }}</td>
                    </tr>
                    <tr>
                        <td>Carbs: {{ page.extra.carbs }}</td>
                        <td>Cook Time: {{ page.extra.cook }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div id="ingredients-section">
            <h2>Ingredients:</h2>
            <ul>
                {% for ing in page.extra.ingredients %}
                <li>{{ ing | safe }}</li>
                {% endfor %}
            </ul>
        </div>
        <div id="method-section">
            <h2>Method:</h2>
            <ol>{{ page.content | safe }}</ol>
        </div>
        <div id="print-buttons" style="float: right">
            <a class='button' onclick="changeVal(1)">+ Serving</a>
            <a class='button' onclick="changeVal(-1)">- Serving</a>


            <a class='button' href="measurements.html">Measurements</a>

            <div class="drop up">
                <a class="drop-button">Print</a>
                <div class="drop-content">
                    <a class='recipeLink' href="printall">Print All</a>
                    <a class='recipeLink' onclick="window.print()">Print Recipe</a>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    initializeQuantities();
</script>

</html>